<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ SITE_DESCRIPTION }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if url == SITEURL %} active{% endif %}" href="{{ SITEURL }}/">Home</a>

    {% for node in pages %}
     <a class="sidebar-nav-item{% if node.url == url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2015. All rights reserved.
    </p>
  </div>
</div>
